body
{
font-family: 'Special Elite', cursive;
background: pink;
}
.header_div
{
    background:white;
    color: bisque;
}

.main_div button{
    font-family: 'Roboto', sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.header_div h1{
    font-family: 'Roboto',sans-serif;
    color: black;
    letter-spacing: 2px;
    font-size: 30px;
    font-weight: bold;

}
.copyright {
    position: fixed;
    color: grey;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: white;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(151, 149, 149);
}
  
